<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">บทความ</div>

          <div class="card-body">
            <ul v-for="blog in blogs" class="list-group list-group-flush">
              <li class="list-group-item">
                <a v-bind:href="'blog/'+blog.id">{{ blog.title }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getBlogAll();
    console.log("Component user.");
  },
  methods: {
    getBlogAll() {
      console.log("ดึงข้อมูล");
      axios.get("api/blog").then(response => {
        console.log(response);
        //set
        this.blogs = response.data;
      });
    }
  },
  data() {
    return {
      blogs: [],
      blog: {
        id: 0,
        title: "",
        content: "",
        image: "",
        created_at: "",
        updated_at: ""
      }
    };
  }
};
</script>
